stack overflow
python for data analysis
Learning the Pandas Library
Planet Python
Data Skeptic Podcast

# the Series data structure

In [3]:
import pandas as pd
pd.Series

pandas.core.series.Series

In [13]:
name = ['Jiang','Qian','Jia']
pd.Series(name)

0    Jiang
1     Qian
2      Jia
dtype: object

In [5]:
number = [1,2,3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

In [6]:
name = ['Jiang','Qianjia',None]
pd.Series(name)

0      Jiang
1    Qianjia
2       None
dtype: object

In [9]:
name = {'Lastname':'Jiang','Middle':None,'First':'Qianjia'}
s=pd.Series(name)
s

Lastname      Jiang
Middle         None
First       Qianjia
dtype: object

In [10]:
s.index

Index(['Lastname', 'Middle', 'First'], dtype='object')

In [11]:
s = pd.Series(name,index=['Surname','Middle','First'])
s

Surname        NaN
Middle        None
First      Qianjia
dtype: object

# Querying a series

In [16]:
name = ['Jiang','Qianjia',None]
s = pd.Series(name)
s

0      Jiang
1    Qianjia
2       None
dtype: object

In [17]:
s.iloc[1]

'Qianjia'

In [18]:
name = {'Lastname':'Jiang','Middle':None,'First':'Qianjia'}
s=pd.Series(name)
s

Lastname      Jiang
Middle         None
First       Qianjia
dtype: object

In [20]:
s.iloc[1]

In [21]:
s.iloc[2]

'Qianjia'

In [22]:
s.loc['Middle']

In [23]:
s.loc['First']

'Qianjia'

In [24]:
s[2]

'Qianjia'

In [25]:
s.append(pd.Series({'Height':'180cm'}))

Lastname      Jiang
Middle         None
First       Qianjia
Height        180cm
dtype: object

# The DataFrame Data Structure

In [26]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [27]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [28]:
df.iloc[2]

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [29]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [30]:
df.loc[:,'Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [32]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [33]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [34]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [35]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [36]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [37]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [38]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [40]:
df.drop('Store 1',inplace=True)

In [41]:
df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

# Dataframe Indexing and Loading

In [42]:
costs = df['Cost']
costs

Store 2    5.0
Name: Cost, dtype: float64

In [69]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [58]:
df.columns

Index(['Name', 'Item Purchased', 'Cost'], dtype='object')

In [70]:
for col in df.columns:
    print(col)
    if col[:]=='Name':
#         print('True')
        df.rename(columns={col:'New_' + col[2:]}, inplace=True)
    if col[:]=='Item Purchased':
        df.rename(columns={col:'New_' + col[:4]}, inplace=True)
print(df)

Name
Item Purchased
Cost
        New_me      New_Item  Cost
Store 1  Chris      Dog Food  22.5
Store 1  Kevyn  Kitty Litter   2.5
Store 2  Vinod     Bird Seed   5.0

# Indexing Dataframes

In [72]:
df['Store']=df.index
df = df.set_index('New_me')
df

            New_Item  Cost    Store
New_me
Chris       Dog Food  22.5  Store 1
Kevyn   Kitty Litter   2.5  Store 1
Vinod      Bird Seed   5.0  Store 2

In [73]:
df = df.reset_index()
df

  New_me      New_Item  Cost    Store
0  Chris      Dog Food  22.5  Store 1
1  Kevyn  Kitty Litter   2.5  Store 1
2  Vinod     Bird Seed   5.0  Store 2

In [74]:
df['Cost'].unique()

array([22.5,  2.5,  5. ])

In [82]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [87]:
df = df.set_index(['New_me','Store'])
df

                    New_Item  Cost
New_me Store
Chris  Store 1      Dog Food  22.5
Kevyn  Store 1  Kitty Litter   2.5
Vinod  Store 2     Bird Seed   5.0

In [105]:
df.index.names=['Name','Location']

In [106]:
df

                    New_Item  Cost
Name  Location
Chris Store 1       Dog Food  22.5
Kevyn Store 1   Kitty Litter   2.5
Vinod Store 2      Bird Seed   5.0

In [111]:
df.iloc[0]

New_Item    Dog FoodDog Food
Cost                      45
Name: (Chris, Store 1), dtype: object

In [113]:
df = df.append(df)
df

                                New_Item  Cost
Name  Location
Chris Store 1           Dog FoodDog Food  45.0
Kevyn Store 1   Kitty LitterKitty Litter   5.0
Vinod Store 2         Bird SeedBird Seed  10.0
Chris Store 1           Dog FoodDog Food  45.0
Kevyn Store 1   Kitty LitterKitty Litter   5.0
Vinod Store 2         Bird SeedBird Seed  10.0

                                New_Item  Cost
Name  Location
Chris Store 1           Dog FoodDog Food  45.0
Kevyn Store 1   Kitty LitterKitty Litter   5.0
Vinod Store 2         Bird SeedBird Seed  10.0
Chris Store 1           Dog FoodDog Food  45.0
Kevyn Store 1   Kitty LitterKitty Litter   5.0
Vinod Store 2         Bird SeedBird Seed  10.0

In [127]:
df[df['Cost']==max(df['Cost'])].index[0]

('Chris', 'Store 1')

In [128]:
df['Cost']

Name   Location
Chris  Store 1     45.0
Kevyn  Store 1      5.0
Vinod  Store 2     10.0
Chris  Store 1     45.0
Kevyn  Store 1      5.0
Vinod  Store 2     10.0
Name: Cost, dtype: float64

In [129]:
df['count']=[10,20,3,4,10,40]
df

                                New_Item  Cost  count
Name  Location
Chris Store 1           Dog FoodDog Food  45.0     10
Kevyn Store 1   Kitty LitterKitty Litter   5.0     20
Vinod Store 2         Bird SeedBird Seed  10.0      3
Chris Store 1           Dog FoodDog Food  45.0      4
Kevyn Store 1   Kitty LitterKitty Litter   5.0     10
Vinod Store 2         Bird SeedBird Seed  10.0     40

In [130]:
differ=df['Cost']-df['count']
differ

Name   Location
Chris  Store 1     35.0
Kevyn  Store 1    -15.0
Vinod  Store 2      7.0
Chris  Store 1     41.0
Kevyn  Store 1     -5.0
Vinod  Store 2    -30.0
dtype: float64

KeyError: 41

In [132]:
max(abs(differ))

41.0

In [1]:
def answer_two():
    copy_df = df.copy()
    copy_df['differ'] = abs(copy_df['Gold']-copy_df['Gold.1'])
    return str(copy_df[copy_df['differ']==max(copy_df['differ'])].index[0])
answer_two()

def answer_three():
    copy_df = df[(df['Gold']>0) & (df['Gold.1']>0)]
#     print(copy_df)
    copy_df['differ'] = abs(copy_df['Gold']-copy_df['Gold.1'])/(copy_df['Gold']+copy_df['Gold.1'])
    return str(copy_df[copy_df['differ']==max(copy_df['differ'])].index[0])
answer_three()

def answer_four():
    copy_df = df.copy()
    copy_df['Points'] = copy_df['Gold.2']*3+copy_df['Silver.2']*2+copy_df['Bronze.2']
    return pd.Series(copy_df['Points'])
answer_four()

def answer_five():
    county_df = census_df[census_df['SUMLEV']==50]
    counties_df = county_df.groupby('STNAME')['COUNTY'].sum().sort_values(ascending=False)
    return str(counties_df.index.tolist()[0])
answer_five()

def answer_six():
    county_df = census_df[census_df['SUMLEV']==50]
    top_county_df = county_df.sort_values('CENSUS2010POP',ascending=False).groupby('STNAME').head(3)
#     print(top_county_df)
    most_pop_state=top_county_df.groupby('STNAME').sum().sort_values(by='CENSUS2010POP',ascending=False).head(3).index.tolist()
    return most_pop_state
answer_six()

def answer_seven():
    county_df = census_df[census_df['SUMLEV']==50]
    county_df = county_df.set_index('CTYNAME')
    columns = ['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
#     print(county_df[columns])
    max_value = county_df[columns].max(axis = 1)
    min_value = county_df[columns].min(axis = 1)
    diff = max_value - min_value
    county_df['diff'] = diff
    
    ans = county_df['diff'].idxmax()

    return ans
answer_seven()


def answer_eight():
    county_df = census_df[census_df['SUMLEV']==50]
    county_df = county_df[((county_df['REGION']==1) | (county_df['REGION']==2)) & (county_df['CTYNAME']=='Washington County') & (county_df['POPESTIMATE2015'] > county_df['POPESTIMATE2014'])][['STNAME','CTYNAME']]
    return county_df


answer_eight()

NameError: name 'df' is not defined

In [34]:
import pandas as pd
import numpy as np
name = ['q','J','o']
df = pd.DataFrame([])
# print(df)
df_list = df.assign(ID=np.arange(0,len(name)),NAME=name,Group='Group')
# df_list_new = df_list.assign(Group='Group')
df_new = df_list[['Group','ID','NAME']]
df_new.rename(columns={'Group':'*Group'},inplace=True)
print(df_new)

  *Group  ID NAME
0  Group   0    q
1  Group   1    J
2  Group   2    o